/**
*   Create bt NhanTV - 03-01-2016
*
*   RED COLOR:     #af1314     YELLOW COLOR:   #ffc600
**/

/************************************/
/*----------- NORMAL CSS -----------*/
/************************************/
body{
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
}
a{ text-decoration: none; }
/* TOPBAR */
.topbar {
    width: 100%;
    position: relative;
    border-top: 4px solid #af1314;
}
.topbar .topbar_above{
    background: #f1f1f1;
    width: 100%;
    height: 80px;
}
.topbar_above .topbar_search{
    border-radius: 3px;
    background: transparent;
    padding: 2px;
    margin-top: 18px;
    width: 100%;
    display: table;
    background-color: #ffffff;
    border-radius: 100px;
    color: #9f9f9f;
    text-decoration: none;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);

}
.topbar_above .topbar_search input:focus{
    outline: none;
}
.topbar_above .topbar_search input#inp_search {
    border: none;
    outline: none;
    padding: 8px 5px;
    float: left;
    display: table-cell;
    width: 80%;
    background: transparent;
}
.topbar_above .topbar_search input#btn_search{
    display: inline-block;
    background: #ffffff;
    color: #b1b1b1;
    border-radius: 100px;
    float: right;
    padding: 3px 6px;
    height: 36px;
    width: 15%;
}
.topbar_above .topbar_search i {
    color: #b1b1b1;
    padding: 5px;
    font-size: 20px;
    float: left;
    width: 5%;
    margin-top: 2px;
}
.topbar_above .topbar_user{
    margin-top: 10px;
    padding: 5px;
    float: right;
    background-color: #f3f3f3;
    border-radius: 100px;
    color: #9f9f9f;
    text-decoration: none;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
}
.topbar_above .topbar_user a{
    border: 2px solid #ffffff;
    display: inline-block;
    border-radius: 50px;
    cursor: pointer;
}
.topbar_above .topbar_user a:hover{
    border: 2px outset;
}
.topbar_above .topbar_user img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.topbar .topbar_below{
    background: #ffffff;
    width: 100%;
    height: 40px;
    box-shadow: 0px 1px 2px #ffc600;
    margin-bottom: 10px;
}
.topbar_below .navbar{
    margin-bottom: 0px !important;
    min-height: 40px !important;
    border: none !important;
}
.nav-right{
    float: right;
    margin-top: 2px;
}
.nav-li{
    border: 2px outset;
    float: left;
    margin-right: 3px;
    height: 36px;
    border-radius: 50px;
    min-width: 95px;
}
.nav-li > a{
    display: inline-block;
    text-align: center;
    height: 100%;
    border-radius: 50px;
    color: #ffffff;
    background: #af1314;
    padding: 5px 10px!important;
    cursor: pointer;
}
.nav-li > a:hover{
    background: #ffc600!important;
    color: black;
}
.navbar-nav{
    margin: 0px !important;
}
.navbar-nav > li.max_110{
    min-width: 130px;
}
.navbar-nav > li.active{
    background: #ffc600;
}
.navbar-nav > li > a{
    padding: 10px !important;
    color: black !important;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:visited{
    background: #ffc600 !important;
}
.spread{
    display: inline-block;
    width: 1px;
    height: 35px;
    background: #f1f1f1;
    position: relative;
    margin-top: 2px;
}
.dropdown-menu{
    border: none !important;
    font-size: 15px!important;
    box-shadow: 0 1px 2px #ffc600 !important;
    min-width: 130px !important;
    border-radius: 0px !important;
}
.dropdown-menu > li > a{
    padding: 5px 10px !important;
    font-size: 15px!important;
    font-weight: none;
}
.dropdown-menu > li > a:hover{
    background: #ffc600 !important;
}

    /* CONTAINER */
.container{
    width: 1120px !important;
    padding: 0px !important;
}

    /* CAROUEL */
/* Carousel base class */
.carousel {
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
    padding-right: 15px;
    padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}



/************************************/
/*----------- MOBILE CSS -----------*/
/************************************/



/************************************/
/*----------- TABLET CSS -----------*/
/************************************/